<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JLCG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <JLCG.My.MySettings>
            <setting name="layerName_parcele" serializeAs="String">
                <value>parcele</value>
            </setting>
            <setting name="layerName_table" serializeAs="String">
                <value>table</value>
            </setting>
            <setting name="layerName_ProcembeniRazredi" serializeAs="String">
                <value>procembeni razredi</value>
            </setting>
            <setting name="layerName_nadelaSmer" serializeAs="String">
                <value>Tacke za nadelu</value>
            </setting>
            <setting name="layerName_Ulice" serializeAs="String">
                <value>Linije ulice</value>
            </setting>
            <setting name="layerName_centar" serializeAs="String">
                <value>CentriMoci</value>
            </setting>
            <setting name="parcele_fieldName_brParcele" serializeAs="String">
                <value>brParcele</value>
            </setting>
            <setting name="parcele_fieldName_rastojanjeCentarMoci" serializeAs="String">
                <value>rastojanjeCM</value>
            </setting>
            <setting name="parcele_fieldName_katPovrsina" serializeAs="String">
                <value>katPovrsina</value>
            </setting>
            <setting name="parcele_fieldName_Vlasnik" serializeAs="String">
                <value>idVlasnika</value>
            </setting>
            <setting name="layerName_ekonomskaDvorista" serializeAs="String">
                <value>Ekonomska_dvorista</value>
            </setting>
            <setting name="funkcijaRaspodele" serializeAs="String">
                <value>0.25*P+0.25*R</value>
            </setting>
            <setting name="maxP" serializeAs="String">
                <value>-10000000</value>
            </setting>
            <setting name="maxR" serializeAs="String">
                <value>-10000000</value>
            </setting>
            <setting name="maxZ" serializeAs="String">
                <value>-100000000</value>
            </setting>
            <setting name="koeficijentUmanjenja" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="mysqlConnString" serializeAs="String">
                <value>User ID=root;Password=azra220;Host=localhost;Port=3306;Database=adorjan;</value>
            </setting>
            <setting name="nadela_brInteracija" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="nadela_duzina" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="layerName_ParceleNadela" serializeAs="String">
                <value>DKP_Nadela</value>
            </setting>
            <setting name="layerName_pointTableObelezavanje" serializeAs="String">
                <value>PntTableObelezavanje</value>
            </setting>
            <setting name="layerName_podelaNaListove" serializeAs="String">
                <value>Podela2500</value>
            </setting>
            <setting name="layerName_poligonskeTacke" serializeAs="String">
                <value>Poligonske</value>
            </setting>
            <setting name="poligonske_brojOdmeranjaOpis" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="poligonske_sirinaBaferZone" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="tahimetrija_sirinaBaferZone" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="tahimetrija_razmakIzmeduRedova" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="openFiles" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="komponentShowTable" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GPSMerenje_datumPocetka" serializeAs="String">
                <value>23/12/2013</value>
            </setting>
            <setting name="GPSMerenje_vremePocetka" serializeAs="String">
                <value>8:00</value>
            </setting>
            <setting name="GPSMerenje_brzinaHoda" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="GPSMerenje_zadrzavanjeNaTacki" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GPSMerenje_duzinaRada" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GPSMerenje_preskacemPraznik" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPSMerenje_preskacemVikend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPSMerenje_vremePreseljenjeBaze" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="zaokruzivanjeBrojDecMesta" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="drawing_streetHouseNumbers" serializeAs="String">
                <value>drawing</value>
            </setting>
            <setting name="id_field_municipality" serializeAs="String">
                <value>naselje</value>
            </setting>
            <setting name="id_field_streetNumber" serializeAs="String">
                <value>broj</value>
            </setting>
            <setting name="id_field_streetLetter" serializeAs="String">
                <value>podbroj</value>
            </setting>
            <setting name="id_field_streetName" serializeAs="String">
                <value>ulica</value>
            </setting>
            <setting name="id_field_streetCode" serializeAs="String">
                <value>iduliceskr</value>
            </setting>
            <setting name="resenja_stampaProcembeniRazredi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pozivanje_nultoVreme" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="pozivanje_vremePosedovni" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="pozivanje_vremeBrojParcela" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="pozivanje_pocetakDatum" serializeAs="String">
                <value />
            </setting>
            <setting name="pozivanje_smena1Pocetak" serializeAs="String">
                <value>8:00</value>
            </setting>
            <setting name="pozivanje_smena1Kraj" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="pozivanje_smena2Pocetak" serializeAs="String">
                <value>17:15</value>
            </setting>
            <setting name="pozivanje_smena2Kraj" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="pozivanje_kriterijum_zeljeUcesnika" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pozivanje_kriterijum_izbaciGradevinski" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pozivanje_MaticnoNaselje" serializeAs="String">
                <value>RADUJEVAC</value>
            </setting>
            <setting name="pozivanje_wordFileTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="pozivanje_stampamOdmah" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pozivanje_stampamSpisakParcelaUPozivu" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pozivanje_vremeVlasnik" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="pozivanje_pisemSamoImenaBezVremena" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pozivanje_idko" serializeAs="String">
                <value>801500</value>
            </setting>
            <setting name="ogranicenje_poStranci" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="resenja_wordFileTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="resenja_pismo" serializeAs="String">
                <value />
            </setting>
            <setting name="resenje_koeficijent0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resenje_vjedinice_din" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="pozivanje_kriterijumIzbaciIndustrijsku" serializeAs="String">
                <value>0</value>
            </setting>
        </JLCG.My.MySettings>
    </userSettings>
</configuration>
